@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thumb-transparent::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
}

.hover\:scrollbar-thumb-gray-300:hover::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}

